/* first */
body {
    background: rgb(240, 240, 240);  /* fallback for old browsers */
}

/* nav */
.navbar-dark {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-btn {
    width: 100px !important;
}

/* loggin */
.margin-top-center {
    margin-top: 20vh;
}


/* card */

.card-title {
    text-align: center;
}

.btn {
    width: 130px !important;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-link {
    margin-left: 86%;
    text-decoration: underline #1a1a1a !important;
}

.link {
    text-decoration: underline #1a1a1a !important;
}

.itemSignOut {
    margin-right: 0px !important;
}

.itemSignOut .btn-sign-out {
    padding-left: 9px !important;
    padding-right: 9px !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.btn-info {
    background: linear-gradient(to right, #3198a8, rgb(44, 103, 126), #2C5364);
    border-color: linear-gradient(to right, #3198a8, rgb(44, 103, 126), #2C5364);
    padding: 0 !important;
}

.btn-form {
    width: 100% !important;
}

/* card */


@media (min-width: 768px) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .row {
        min-width: 1100px;
    }
}

@media (min-width: 768px) {
    .row {
        min-width: 100%;
        max-width: 100%;
    }
}